<nav>
    <div id="logo">
        <i class="bi bi-check2-square logo"> <b> TaskNet</b></i>
    </div>
    <div id="routes">
        <a href="/" class="navItems">Home</a>
        <a href="/addTask" class="navItems">Create Task</a>
        <a href="/taskBoard" class="navItems">Task Board</a>
    </div>
    <div id="signIn">
        <a href="/signIn" class="navItems">Sign In</a>
    </div>
</nav>