<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/title')%>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    
    <!-- temp-> -->
    <link rel="stylesheet" href="/css/utils.css">
     <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('partials/nav')%>

    <main>
        <div id="heading">
            <h3>Think, plan, and track</h3>
            <h3>all in one place</h3>
        </div>
        <div id="box">
            <p id="text">Efficiently manage your tasks and boost productivity</p>
            <div id="btns">
                <a href="/addTask" id="create" class="tskbtn">Create Task</a>
                <a href="/taskBoard" id="all" class="tskbtn">View All Tasks</a>
                <a href="/taskBoard/pending" id="pending" class="tskbtn">Pending</a>
                <a href="/taskBoard/completed" id="completed" class="tskbtn">Completed</a>
                <a href="/taskBoard/in-progress" id="overdue" class="tskbtn">Ongoing</a>
            </div>
        </div>
    </main>
    
</body>
</html>